header {
  text-align: center;
  margin-top: 3rem;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "aoboshi", sans-serif;
  color: rgb(219, 156, 30);
  background-image: url("/assets/back.jpg");
  background-color: darkgoldenrod;
  background-repeat: inherit;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.menu_container {
  background-color: #dfcd9c;
  height: 17rem;
  width: 17rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 3%;
  margin-top: 2rem;
  border: thick double #099dd7;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}
